
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,400&display=swap');


body{
    font-family: 'Rubik', sans-serif;
}

.navbar{
background-color: #FFFFFF;
padding: 1rem 2rem;
border-bottom: 1px solid #c4ccde;
}
.btn-primary {
    color: white!important;
    background-color: #FE2472!important;
    border-color: #FE2472!important;

}
.logregcard{
    border: none !important;
}
.card {
   
    color: #FE2472!important;
    a{
        color: #FE2472; 
        }
        .reglabel{
            color: black;
        }
}
.navbar > .container {
    height:3.5em!important;
    
}
.form-check-input:checked{
    background-color:#FE2472!important;
    border-color:#FE2472!important;
}
.card-header{
    background-color: #FFFFFF!important;
    border-bottom: none !important;
}
.form-control{
    border: 1px solid #FE2472 !important;
}
