.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid #c4ccde;
    ul{
        list-style: none;
        padding: 1rem 2rem;
    }
    li{
        margin-bottom: 1rem;
    }
    a{
        text-decoration: none;
        &.active{
            background-color:  #e7e9eb;
        }
    }
}
